.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.auth-container {
    margin: 30px;
}

button {
    margin: 20px;
}